<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="customEditorConfigurer" class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="java.util.Date">
                    <bean class="com.chenzhicheng.springlearn.common.propeditor.DatePropEditor"/>
                </entry>
            </map>
        </property>
    </bean>

    <bean class="com.chenzhicheng.springlearn.common.domain.LoginLog" id="loginLog">
        <property name="id" value="1"/>
        <property name="ip" value="localhost"/>
        <property name="userId" value="2"/>
        <property name="loginDateTime" value="2016-05-06"/>
    </bean>



</beans>